<div class = "component">
  <app-autocomplete></app-autocomplete>
</div>
<div class = "component">
  <app-checkbox></app-checkbox>
</div>
<div class = "component">
  <app-datepicker></app-datepicker>
</div>
<div class = "component">
  <app-form-field></app-form-field>
</div>
<div class = "component">
  <app-radio-button></app-radio-button>
</div>
<div class = "component">
  <app-select></app-select>
</div>
<div class = "component">
  <app-slider></app-slider>
</div>
<div class = "component">
  <app-slider-toggle></app-slider-toggle>
</div>
