<div #abc></div>
<button #topOfPage class="main-button" mat-raised-button color="primary" (click)="showFormControls = !showFormControls">Form Controls</button>
<div *ngIf="showFormControls">
  <div class="component">
    <app-autocomplete></app-autocomplete>
  </div>
  <div class="component">
    <app-checkbox></app-checkbox>
  </div>
  <div class="component">
    <app-datepicker></app-datepicker>
  </div>
  <div class="component">
    <app-form-field></app-form-field>
  </div>
  <div class="component">
    <app-radio-button></app-radio-button>
  </div>
  <div class="component">
    <app-select></app-select>
  </div>
  <div class="component">
    <app-slider></app-slider>
  </div>
  <div class="component">
    <app-slider-toggle></app-slider-toggle>
  </div>
</div>

<button class="main-button" mat-raised-button color="primary" (click)="showNavigation = !showNavigation">Navigation</button>
<div *ngIf="showNavigation">
  <div class="component">
    <app-menu></app-menu>
  </div>
  <div class="component">
    <app-sidenav></app-sidenav>
  </div>
  <div class="component">
    <app-toolbar></app-toolbar>
  </div>
</div>

<button class="main-button" mat-raised-button color="primary" (click)="showLayout = !showLayout">Layout</button>
<div *ngIf="showLayout">
  <div class="component">
    <app-card></app-card>
  </div>
  <div class="component">
    <app-divider></app-divider>
  </div>
  <div class="component">
    <app-expansion-panel></app-expansion-panel>
  </div>
  <div class="component">
    <app-grid-list></app-grid-list>
  </div>
  <div class="component">
    <app-list></app-list>
  </div>
  <div class="component">
    <app-stepper></app-stepper>
  </div>
  <div class="component">
    <app-tabs></app-tabs>
  </div>
</div>

<button class="main-button" mat-raised-button color="primary" (click)="showButtonsAndIndicators = !showButtonsAndIndicators">Buttons & Indicators</button>
<div *ngIf="showButtonsAndIndicators">
  <div class="component">
    <app-button></app-button>
  </div>
  <div class="component">
    <app-button-toggle></app-button-toggle>
  </div>
  <div class="component">
    <app-chips></app-chips>
  </div>
  <div class="component">
    <app-progress-bar></app-progress-bar>
  </div>
  <div class="component">
    <app-progress-spinner></app-progress-spinner>
  </div>
</div>